<h1> EDIT COLLAGE </h1>
<%= render partial: 'errors/errors', locals: {model: @collage } %>



<%= render partial: 'form', locals: { form_title: "EDIT IMAGES", model: @collage, button_name: "EDIT Collage"  } %>
