<h1> Create New Collage </h1>
<%= render partial: 'errors/errors', locals: {model: @collage } %>


<%= render partial: 'form', locals: { form_title: "CREATE A NEW IMAGE", model: @collage, button_name: "Create Collage"  } %>


