<h1 style="text-align: center"> Welcome to ImgTube </h1>

<p style="text-align: center">Image Tube is a Youtube Clone built with Ruby On Rails. This project was built live w/ the help of our full time online software engineering cohort 020121. </p>
<div style="display: flex">
    <%= image_tag('traintracks.jpeg', width: "300px", height: "300px") %>
    <%= image_tag('drawing.jpeg',width: "300px", height: "300px") %>
</div>
<p style="text-align: center">Just like the picture above, we used youtube as our reference, and built out what we could with the allotted time. I would say we did a fine JOB! <br><strong><i class="bi bi-egg-fill"></i> Special thanks to Elias for providing us with a train whistle!</strong> </p>