<h1> Most Recent </h1>

<div class="container">
    <%# @images.each do |image|} %>
        <%#= render partial: 'image' %>
    <%# end %>
    <div class="row">
        <%= render @images %>
    </div>
</div>
