<nav class="navbar navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/images">Home</a>
        </li>
        <li>
            <%= link_to 'Create New Image', new_image_path, class: 'nav-link active' %>
        </li>
        <li>
            <%= link_to 'Most Recent PATH', recent_path, class: 'nav-link active' %>
        </li>
        <li>
            <%= link_to 'All Collages', collages_path, class: 'nav-link active' %>
        </li>
        <li>
            <%= link_to 'New Collage Path', new_collage_path, class: 'nav-link active' %>
        </li>
        </ul>
    </div>
</nav>